.modal-container
{
  position: fixed;
  top: -1350%;
  right: -120%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: right 0.3s;
}

.modal
{
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #1F51FF;
  border-radius: 10px;
  width: 650px;
  height: fit-content;
  padding: 2% 5%;
  box-shadow: 0 0 3rem 0.2rem #1F51FF;
}

.modal-div {
  width: 80%; /* Ancho del modal */
  /* background: white; */
  padding: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  transition: transform 0.3s; /* Agrega una transición para la animación */
}

.modal-div.show {
  right: 0; /* Muestra el modal desplazándolo desde la derecha */
  transform: translateX(-102%); /* Muestra el modal sin desplazar la lista */
}

.modal-div.hide {
  right: -100%; /* Oculta el modal desplazándolo hacia la derecha */
  transform: translateX(0); /* Desplaza la lista hacia la derecha */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.project-img
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.project-img img
{
  width: 250px;
  height: 150px;
  border-radius: 15px;
}

.project-title
{
  font-family: sans-serif;
  font-size: 1.7rem;
  text-align: center;
}

.project-description
{
  font-family: sans-serif;
}
